@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@variant dark (&:is(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));
/* @import "tailwindcss/typography"; */

/* Tailwind base layer */
@layer base {
  /* ✅ Tema por defecto (Light) */
  :root {
    --primary-blue-950: #04314d;
    --primary-blue-900: #064d74;
    --primary-blue-800: #005c8d;
    --primary-blue-700: #006dab;
    --primary-blue-600: #008ad4;
    --primary-blue-500: #00b2ff;
    --primary-blue-400: #2cc4ff;
    --primary-blue-300: #75d7ff;
    --primary-blue-200: #b6e8ff;
    --primary-blue-100: #def2ff;
    --primary-blue-50: #eff9ff;

    --secundary-slate-50: #f8fafc;
    --secundary-slate-100: #f1f5f9;
    --secundary-slate-200: #e2e8f0;
    --secundary-slate-300: #cbd5e1;
    --secundary-slate-400: #94a3b8;
    --secundary-slate-500: #64748b;
    --secundary-slate-600: #475569;
    --secundary-slate-700: #334155;
    --secundary-slate-800: #1e293b;
    --secundary-slate-900: #0f172a;
    --secundary-slate-950: #020617;

    --neutrals-white: #ffffff;
    --neutrals-100: #e7e7e7;
    --neutrals-200: #d1d1d1;
    --neutrals-300: #b0b0b0;
    --neutrals-400: #888888;
    --neutrals-500: #6d6d6d;
    --neutrals-600: #5d5d5d;
    --neutrals-700: #4f4f4f;
    --neutrals-800: #454545;
    --neutrals-900: #292929;
    --neutrals-950: #191919;
    --neutrals-black: #000000;

    --acents-mint: #00c8b3;

    /* ✅ Variables de diseño global */
    --color-bg: var(--primary-blue-50);
    --color-text: var(--neutrals-black);
    --color-primary: var(--primary-blue-600);
    --color-secondary: var(--secundary-slate-800);
    --color-accent: var(--acents-mint);
    --color-cara: var(--primary-blue-50);
  }

  /* ✅ Tema Dark */
  [data-theme="dark"] {
    /* --color-bg: var(--neutrals-950); */
    --color-bg: var(--neutrals-black);
    --color-text: var(--neutrals-white);
    --color-primary: var(--primary-blue-300);
    --color-secondary: var(--primary-blue-500);
    --color-accent: var(--acents-mint);
    --color-cara: var(--neutrals-black);
  }
}

.fill-cara {
  fill: var(--color-cara) !important;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: normal;
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "Kufam";
  src: url("/fonts/Kufam-VariableFont_wght.ttf") format("truetype");
  font-weight:
    bold,
    100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight:
    bold,
    100 900;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
  font-family: "Kufam", sans-serif;
  letter-spacing: -2px;
  font-weight: bold;
  line-height: normal;
}
h2 {
  font-family: "Kufam", sans-serif;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 3rem;
  line-height: normal;
}
h3 {
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 1.5rem;
}
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
