@import "tailwindcss";
/* @import "tailwindcss/typography"; */

@theme {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #1e40af;
    --color-secondary: #9333ea;
    --color-accent: #f59e0b;
}

@font-face {
    font-family: "Kufam";
    src: url("/fonts/Kufam-VariableFont_wght.ttf") format("truetype");
    font-weight: bold, 100 900;
    font-style: normal; 
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: bold, 100 900;
    font-style: normal; 
    font-display: swap ;
}

h1
{
    font-family: "Kufam", sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    line-height: normal;
}
 h2{
    font-family: "Kufam", sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 3rem ;
    line-height: normal;

 }
  h3{
    font-family: "Inter", sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 1.5rem ;
  } h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}   