---
import Button from '../ui/Button.astro';
---

<section class="flex flex-col justify-center items-center h-auto md:h-auto my-28 px-4 lg:px-10 mt-16">
    <h2 class="!text-4xl md:!text-[3rem] font-bold mb-6 text-center">“A large, heavily bolded quote for emphasis and breaking up content.”</h2>
    <p class="text-center max-w-2xl mb-4">
        ¿Interesado en colaborar o simplemente charlar? ¡No dudes en ponerte en contacto!
    </p>
    <Button
    variant='primary'
    size='lg'>
    Contáctame</Button>
    
</section> 