<div 
    class="md:max-w-5xl mx-auto h-[100dvh] flex flex-col items-center justify-center px-4 ">
  <h1 class="text-7xl md:text-[10rem] font-bold text-center">DANIELTB</h1>
  <p class="mt-4 text-center text-gray-600">
    I'm Daniel Tunjano, a web developer specializing in Astro and Tailwind CSS.
  </p>
</div>
