---
import Scroller from "@/components/ui/Scroller.astro";
import Figma from "@/assets/tools/figma.svg";
import Illustrator from "@/assets/tools/illustrator.svg";
import Photoshop from "@/assets/tools/photoshop.svg";
import Blender from "@/assets/tools/blender.svg";
import React from "@/assets/tools/React_light.svg";
import Git from "@/assets/tools/git.svg";
import Tailwind from "@/assets/tools/tailwindcss.svg";
import AstroLogo from "@/assets/tools/Astro_dark.svg";

import type { ImageLayout } from "node_modules/astro/dist/assets/types";
import type { SvgComponent } from "astro/types";
import { useTranslations } from "@/i18n/utils";
import { languageList } from "@/i18n/ui";

// i18n Obtener el idioma actual y la función de traducción
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<section class="flex justify-center flex-col max-w-4xl m-auto mb-30">
  <h4 class="!font-normal !font-[Inter] text-center mb-0">
    {translateLabels("cta.subtitle2")}
  </h4>
  <Scroller
    logos={[
      { src: Figma, alt: "Figma" },
      { src: Illustrator, alt: "Illustrator" },
      { src: Photoshop, alt: "Photoshop" },
      { src: Blender, alt: "Blender" },
      { src: React, alt: "React" },
      { src: Git, alt: "Git" },
      { src: Tailwind, alt: "Tailwind CSS" },
      { src: AstroLogo, alt: "Astro" },
      // { src: NodeJS, alt: 'Node.js' },
      // { src: Git, alt: 'Git' },
      // { src: Github, alt: 'GitHub' },
    ]}
    grayscale={false}
    speed={"normal"}
    aria-Label="Logo marquee"
  />
</section>
