---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
---

<Layout title="404 - Página no encontrada">
  <main class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <h1 class="text-6xl font-bold mb-4">404</h1>
    <p class="text-xl mb-8">Pagina no encontrada</p>
    <Button href="/" variant="primary" >
      Volver al inicio  
    </Button>
    <!-- <a
      href="/"
      class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors"
    >
      Volver al inicio
    </a> -->
  </main>
</Layout>