---
import Layout from '@/layouts/Layout.astro';
import Footer from '@/components/sections/Footer.astro';
import Header from '@/components/sections/Header.astro';
import LogoScroller from '@/components/sections/LogoScroller.astro';
---

<Layout title="About - Daniel Tunjano">
  <!-- <Header /> -->
  <main class="items-center mt-[64px] pt-20 min-h-screen text-center">
    <h1 class="text-4xl font-bold mb-4">Sobre mí</h1>
    <p class="text-md mb-8 max-w-4xl text-left m-auto p-5">
      Hola, soy Daniel Tunjano, un desarrollador web y diseñador industrial apasionado por crear experiencias digitales innovadoras y funcionales. Con una sólida formación en diseño y desarrollo, me especializo en construir sitios web atractivos y fáciles de usar que cumplen con los objetivos de mis clientes.   
        Mi enfoque combina creatividad y tecnología para ofrecer soluciones personalizadas que destacan en el competitivo mundo digital. Siempre estoy buscando nuevas formas de mejorar mis habilidades y mantenerme al día con las últimas tendencias en diseño y desarrollo web.
    </p>
    <LogoScroller />
  </main>
  <!-- <Footer /> -->
</Layout>