---
import Button from '../components/Button.astro';
---
<footer class="relative w-full overflow-hidden min-h-[200px] sm:min-h-[250px] md:min-h-[300px]">
    <div>
         Let’s work together
    </div>
    <div class="flex justify-center flex-col items-center p-8 pb-0 relative z-10">
        <div class="md:max-w-5xl text-center py-4 text-gray-300">
            &copy; {new Date().getFullYear()} Daniel Tunjano. All rights reserved.
        </div>
    </div>
    <h1 class="absolute bottom-[-4rem] sm:bottom-[-6rem] md:bottom-[-8rem] lg:bottom-[-12rem] left-1/2 transform -translate-x-1/2 
               text-[7rem] sm:text-[10rem] md:text-[12rem] lg:text-[18rem] 
               whitespace-nowrap font-bold opacity-[0.15] 
               text-gray-200 dark:text-gray-400
               select-none pointer-events-none
               tracking-tighter">
        DANIELTB
    </h1>
</footer>