<nav>
    <ul class="flex justify-center space-x-8 py-4">
        <li><a href="#about" class="text-lg hover:text-blue-500">About</a></li>
        <li><a href="#projects" class="text-lg hover:text-blue-500">Projects</a></li>
        <li><a href="#contact" class="text-lg hover:text-blue-500">Contact</a></li>
    </ul>
</nav>