---
import "@/styles/global.css";
import seo from "@/data/seo.json";
import Header from "@/components/sections/Header.astro";
import Footer from "@/components/sections/Footer.astro";
import { useTranslations } from '@/i18n/utils';
import { languageList } from '@/i18n/ui';

// i18n Obtener el idioma actual y la funci칩n de traducci칩n
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);

---
<!doctype html>
<html lang={currentLang} data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" 
			href="/fonts/Kufam-VariableFont_wght.ttf" as="font" type="font/ttf" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel Tunjano | Portafolio</title>
		<meta name="description" content="Portafolio de Daniel Tunjano, desarrollador web y dise침ador industrial." />
		<meta name="keywords" content="Daniel Tunjano, portafolio, desarrollador web, dise침ador industrial, proyectos, habilidades" />
		<meta name="author" content="Daniel Tunjano" />
		<meta name="robots" content="index, follow" />				
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>


