---
import "@/styles/global.css";
---
<!doctype html>
<html lang="es" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" 
			href="/fonts/Kufam-VariableFont_wght.ttf" as="font" type="font/ttf" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel Tunjano | Portafolio</title>
		<meta name="description" content="Portafolio de Daniel Tunjano, desarrollador web y diseñador industrial." />
		<meta name="keywords" content="Daniel Tunjano, portafolio, desarrollador web, diseñador industrial, proyectos, habilidades" />
		<meta name="author" content="Daniel Tunjano" />
		<meta name="robots" content="index, follow" />				
	<body class="">
		<slot />
	</body>
</html>


