---
import HeroBackground  from "@/assets/background.png";
---

<div
  id="background"
  class="absolute rounded-[inherit] max-w-5xl mx-auto h-[100dvh] inset-0 -z-10 overflow-y-visible flex items-center justify-center"
>

  <img
    
    class="relative object-cover opacity-20 hue-rotate-165 top-0 "
    src={HeroBackground.src}
    alt=""
  />
</div>
